<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="CLOUDWATCH" class="com.j256.cloudwatchlogbackappender.CloudWatchAppender">
		<!-- required settings -->
		<accessKey>your-iam-user-access-key-goes-here</accessKey>
		<secretKey>your-iam-user-secret-key-goes-here</secretKey>
		<region>us-east-1</region>
		<logGroup>test</logGroup>
		<logStream>general</logStream>
		<layout class="com.j256.cloudwatchlogbackappender.Ec2PatternLayout">
			<pattern>[%instance] [%thread] %level %logger{20} - %msg</pattern>
		</layout>
		<initialStartupSleepMillis>0</initialStartupSleepMillis>
		<appender-ref ref="STDOUT" />
	</appender>

	<root level="INFO">
		<appender-ref ref="CLOUDWATCH" />
	</root>

	<logger name="com.j256" level="DEBUG" />

</configuration>
