<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="CLOUDWATCH" class="com.j256.cloudwatchlogbackappender.CloudWatchAppender">
		<!-- required settings -->
		<accessKey>AKIAIPZJD2AQM2YM2HWA</accessKey>
		<secretKey>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</secretKey>
		<region>us-east-1</region>
		<logGroup>test</logGroup>
		<logStream>general</logStream>
		<!-- not required settings, default values shown below -->
		<layout class="com.j256.cloudwatchlogbackappender.Ec2PatternLayout">
			<pattern>[%instance] [%thread] %level %logger{20} - %msg</pattern>
		</layout>
		<maxBatchSize>128</maxBatchSize>
		<maxBatchTimeMillis>5000</maxBatchTimeMillis>
		<internalQueueSize>8192</internalQueueSize>
		<createLogDests>true</createLogDests>
		<logExceptions>true</logExceptions>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="CLOUDWATCH" />
	</root>

	<logger name="com.j256" level="DEBUG" />

</configuration>
