<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="CLOUDWATCH" class="com.j256.cloudwatchlogbackappender.CloudWatchAppender">
		<region>us-east-1</region>
		<logGroup>test</logGroup>
		<logStream>general-%instance</logStream>
		<layout class="com.j256.cloudwatchlogbackappender.Ec2PatternLayout">
			<!-- note: the %n is necessary to separate from any exceptions -->
			<pattern>[%instance] [%thread] %level %logger{20} - %msg%n%xThrowable</pattern>
		</layout>
		<initialWaitTimeMillis>3000</initialWaitTimeMillis>
		<appender-ref ref="STDOUT" />
	</appender>

	<root level="INFO">
		<appender-ref ref="CLOUDWATCH" />
	</root>

	<logger name="com.j256" level="DEBUG" />

</configuration>
